<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <style>
       .container{
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
       }
       .wrapper{
        background-color: beige;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;
       }
    </style>
</head>
<body>
    <div class="container">
        <div class="wrapper">
    <form action="/save" method="POST">
        <input type="Email_id" name="username" id="username" class="input-field" placeholder="enter name" />
        <input type="Email_id" name="email" id="email" class="input-field" placeholder="email" />
        <input type="Password" name="password" id="password" class="input-field" placeholder="Password" />
        <input type="submit" class="btn" value="Submit">
    </form>
       </div>
   </div>
</body>
</html>