<!DOCTYPE html>
<html>
<head>
<style>
  body {
  overflow: hidden; /* Hide scrollbars */
}
  .body-design{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg,#7f379b,#ffa26c);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(229, 58, 58);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
p a{
  color: white;
}

li a:hover {
  background-color: rgb(235, 11, 11);
}
.footer {
   position: fixed;
   left: 10px;
   right: 10px;
   bottom: 0;
   width: 99%;
   text-decoration: none;
   background-color:rgb(229, 58, 58);
   color: white;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="https://kalvium.com/">Career</a></li>
  <li><a href="https://kalvium.com/about-us/">Contact</a></li>
  <li><a href="https://kalvium.com/about-us/">About</a></li>
  <li style="float : right"><a href="logout">Logout</a></li>
</ul>
<h1 class="body-design">Welcome to cointab</h1>
<div class="footer">
  <p style="float : left">Website : <a href="https://kalvium.com/about-us/">kalvium.com</a></p>
  <p style="float : right">Email : <a href="https://kalvium.com/about-us/">work@kalvium.com</a></p>
</div>

</body>
</html>


