<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalvium</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <section class="box">
        <div class="design">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="form">
            <h2>User Register</h2>
            <form action="/register" method="POST">
                <input type="Email_id" name="username" id="username" class="input-field" placeholder="enter name" />
                <input type="Email_id" name="email" id="email" class="input-field" placeholder="email" />
                <input type="Password" name="password" id="password" class="input-field" placeholder="Password" />
                <input type="submit" class="btn" value="Submit">
            </form>
            <div class="text-center">
                <p class="top">Already have an account? <a href="/">Login</a></p>
              
              </div>
        </div>
    </section>
</body>
</html>